<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>UnlApp - Registrar Usuario</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">UnlApp</a>
</nav>

<main role="main" class="container">

  <div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}" accept-charset="UTF-8">

      <h3 class="form-signin-heading">Nuevo Usuario</h3>
        <hr class="colorgraph"><br>


        <input th:field="*{email}" id="email" class="form-control" required placeholder="Email"/>
        <input th:field="*{password}" type="password" id="password" class="form-control" required placeholder="Contraseña"/>

        <input th:field="*{nombre}" id="nombre" class="form-control" required placeholder="Nombre"/>
        <input th:field="*{apellido}" id="apellido" class="form-control" required placeholder="Apellido"/>

        <select th:field="*{carreraID}" id="carreraID" class="form-control" required>
          <option value="1">Tecnicatura en desarrollo Web</option>
        </select>

        <select th:field="*{situacionLaboral}" id="situacionLaboral" class="form-control" required>
          <option value="Empleado">Empleado</option>
          <option value="Desempleado">Desempleado</option>
        </select>

        <input th:field="*{disponibilidadHoraria}" type="number" id="disponibilidadHoraria" class="form-control" required placeholder="Disponibilidad horaria (horas semanales)"/>

        <button id="btn-registrarme" class="btn btn-lg btn-primary btn-block" type="submit">Registrarme</button>

        <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>
      </form>
    </div>
  </div>


</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>