<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/pruebaDeDatos}" method="post">
<!--        <input placeholder="id"> -->
        <input placeholder="Usuario ID" type="number" name="usuarioID">
    <input placeholder="Materia ID" type="number" name="materiaID">
        <input placeholder="dificultad" type="number" name="dificultad">
        <input placeholder="nota" type="number" name="nota">
        <input placeholder="observaciones" type="text" name="observaciones">
        <button type="submit">Confirmar</button>
    </form>
</body>
</html>